@height: 42px;

.wrap {
  height: calc(100vh - 58px);
  width: 200px;
  color: #fff;
  overflow: auto;
  padding-block: 8px;
  box-sizing: border-box;
  border-inline-end: 1px solid #c7c7c7;
  padding-inline: 8px;
}

.item {
  box-sizing: border-box;
  height: @height;
  width: 100%;
  text-align: left;
  padding-left: 24px;
  transition: all 0.3s cubic-bezier(0.25, 0.26, 0.14, 0.99);
  :global {
    a {
      height: 100%;
      line-height: @height;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &:hover {
    background-color: rgba(255, 186, 82, 0.7);
  }
  & + .item {
    margin-top: 8px;
  }
}

.active {
  background-color: rgba(255, 186, 82, 0.7);
  font-weight: bold;
}
